<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="dataPath" value="D:\Docs\Data\Budgeteer\PaulnBetty" />
    </appSettings>
    <connectionStrings>
        <add name="Budgeteer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Budgeteer;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>